---
layout: default
title: "GitLab Sponsorship"
comments: false
sharing: true
suppress_header: true
---
<img src="/images/community/gitlab-growth.jpg" class="img-responsive"
alt="Community Sponsorship">
<div id="content">
  <div class="container txt-lefty">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h1>Community Sponsorhip</h1>
        <p class="lead">GitLab would like to reach out and grow the community.</p>
        <p>We sponsor a number of larger events each year, where we can send people from our team to speak or teach workshops. We also sponsor larger initatives such as <a href="https://rubytogether.org/">Ruby Together</a>. In 2016 we would like to expand our reach and connect to the community through sponsorship program.</p>
        <h3>How we can help</h3>
        <ol>
          <li>Financial assistance in some cases.</li>
          <li>Venue, food, drinks and some flashy GitLab swag for GitLab meet-ups.</li>
          <li>Coaching, mentors and speakers for events.</li>
          <li>Assistance in promotion of your sponsored event.</li>
        </ol>

        <h3>Our highest priorities </h3>
        <p>All applications will be reviewed by our team. Our highest priority is to reach the greatest number of people and grow the community.</p>
        <ol>
          <li>Events or intiatives which foster diversity, specifically in under served regions.</li>
          <li>Events or intiatives which help young people find paths into software developmnt.</li>
          <li>Events where our users meet, such as GitLab meetups.</li>
        </ol>
        <p>We would like to sponsor events related to issues our users face every day, such as DevOps, open source and collaboration. If you think you have an event where people would like to know more about GitLab, please do contact us. We certainly haven't thought of everything. </p>
        <h3>A grant for open science</h3>
        <p>We are also offering a special grant for the integration of GitLab into the Open Science Framework (OSF). Please read how you can help: <a href="https://about.gitlab.com/2015/09/03/a-grant-to-help-us-integrate-gitlab-with-open-source-osf/">OSF grant.</a></p>
        <br>
        <a href="https://docs.google.com/forms/d/1FUm7DOc85yjplFj4zAIo3pqlGlbJR4c6AnHDHVv0k7Y/viewform" role="button" class="btn btn-primary btn-lg">Apply for sponsorship</a>
        <br>
        <br>
        <br> </div>
      <!-- end first column -->
    </div>
    <!-- end row -->
  </div>
</div>
