---
layout: default
title: "Write for GitLab"
comments: false
sharing: true
suppress_header: true
---
<img src="/images/community/computers-table-banner.jpg" class="img-responsive"
alt="Write for GitLab">
<div id="content">
  <div class="container txt-lefty">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h1>Write for GitLab</h1>
        <p class="lead">We’re opening our blog up to contributions from the community.
        </p>
        <p>When you get published on our site you can earn $50 to $200 for
          technical articles. If you’re accepted, you’ll get feedback on
          your writing, and be guided through making the best resources.
          Find out how to get started! </p>
        <p>All great contributions come from developers “scratching their
          own itch.” It’s likely you can share some advice to help someone
          along the way. You can contribute the technical content you wish
          was available. </p>
        <h3>How it works </h3>
        <ol>
          <li>Submit topics and a writing sample to us. </li>
          <li>Get approved. Sign contracts. </li>
          <li>Start writing, get feedback and revise. </li>
          <li>Publish. </li>
          <li>Get paid.</li>
        </ol>
        <p>First you’ll submit a writing sample and tell us about your areas
          of expertise. After you get approved, we’ll contact you to initiate
          the writing process. You’ll get detailed feedback on your writing
          as we push the article to publication. Once it’s published you’ll
          get paid. </p>
        <p>In terms of pricing, we looked to the industry to see what were
          the going rates. Your feedback is welcome. Here are our rough
          guidelines for rates. However, we keep an <a href="https://gitlab.com/gitlab-com/blog-posts/issues?milestone_id=&scope=all&sort=created_desc&state=opened&utf8=%E2%9C%93&assignee_id=0&author_id=&milestone_title=&label_name=&weight=">
          open list of topics</a>
          we have bounties on. That can help you identify our most high-priority
          topics. </p>
        <ul>
          <li>Brief "Quick tips" or feature highlights of less than 800 words.
            - $50</li>
          <li>Short tutorials of 800-1500 words. - $100</li>
          <li>In-depth tutorials or opinion pieces of 1,500+ words. - $200</li>
        </ul>
        <h3>What we're looking for</h3>
        <p>We’re inviting community contribution so we can expand the range
          of tutorials and advice about creating, collaborating and deploying
          with GitLab. </p>
        <p>It's important that the content is:</p>
        <ul>
          <li>Accurate</li>
          <li>Complete</li>
          <li>Original</li>
        </ul>
        <p>We'll be able to develop a more complete style guide as we grow
          out the program. Meanwhile we will rely on referencing <a href="https://www.digitalocean.com/community/tutorials/how-to-write-an-article-for-the-digitalocean-community">the Digital Ocean style guide, which inspired our community writers program</a>.</p>
        <p>To find out what topics we're looking for, review <a href="https://gitlab.com/gitlab-com/blog-posts/issues?milestone_id=&scope=all&sort=created_desc&state=opened&utf8=%E2%9C%93&assignee_id=0&author_id=&milestone_title=&label_name=&weight=">the blog post backlog</a>
        and see if there are any existing requests for topics that inspire
          you. </p>
        <div class="panel panel-default">
          <div class="panel-heading">Example topic areas</div>
          <div class="panel-body">
            <ul>
              <li>Comparison posts; Git v W; GitLab v X; GitLab CI v Y. GitLab
                EE v Z.</li>
              <li>Migrating from X to Git and/or GitLab.</li>
              <li>Working with GitLab, feature highlights and tutorials.</li>
              <li>Ways of boosting efficiency. </li>
              <li>Extending capability with integrations.</li>
              <li>Improving communication in code-collaboration.</li>
              <li>Managing open source projects.</li>
              <li>Testing X with GitLab CI</li>
            </ul>
          </div>
        </div>
        <p>Got an idea?</p> <a href="http://ow.ly/WWMAg" role="button" class="btn btn-primary btn-lg">Submit your proposal!</a>
        <br>
        <br>
        <br> </div>
      <!-- end first column -->
      <div class="col-xs-6 col-md-4">
        <h3>Find out more</h3>
        <ul>
          <li><a href="http://about.gitlab.com">Our blog</a> </li>
          <li><a href="http://ow.ly/WWA2n">Blog post backlog</a> </li>
          <li><a href="http://ow.ly/WWMAg">Submit your proposal</a> </li>
        </ul>
      </div>
      <!-- end second column -->
    </div>
    <!-- end row -->
  </div>
</div>
